<nav id="page-nav" class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-text pull-left" style="margin-left: 0px;">
    <a [routerLink]="['/user', userId, 'application', wid, 'page']">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>

  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      Prescription
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a [routerLink]="['/user', userId, 'application', wid, 'page', pid, 'widget', 'new']">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>

</nav>

<div class="container-fluid" style="margin-top: 70px">
  <div *ngFor="let widget of widgets">
    <b>{{widget.drugCode}} : {{widget.drugDesc}}</b>
  </div>

</div>

<footer id="foot-nav" class="footer">
  <div class="container-fluid">
    <a [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user pull-right" style="font-size: 30px;"></span>
    </a>
  </div>
</footer>
